.page-bilbaal-register #content { margin-left: 300px; margin-right: -1060px; width: 760px;}

.registration-header { border-top: 1px solid #e6e7e8; border-bottom: 1px dotted #5d646c; padding: 10px 0; margin: 10px 0; list-style: none;}
.registration-header li  { display: none; text-transform: uppercase; color: #00A5B5; font-size: 20px;}
.registration-header li.active { display: block;}

/* --- Forms --- */
.registration-text {
  font-size: 24px;
  line-height: 28px;
  width: 500px;
}

.registration-form .row { clear: both;}
.registration-form .form-item { width: auto; margin-right: 20px; float: left; position: relative;}
.registration-form label { font-weight: normal; font-family: 'dincond-regular_condregular'; clear: both; font-size: 20px}
.registration-form label.option { font-family:  'dincond-regular_condregular'; clear: none;}
.form-item-background { width: 685px; margin-right: 65px; clear: both;}
.registration-form input[type='text'],
.registration-form input[type='password'] { border: 1px solid #BFE8EC; height: 35px; line-height: 35px; border-radius: 5px; padding: 0px 10px;
                                            background: #E6F3F6; width: 220px;}
.registration-form textarea { border: 1px solid #BFE8EC; height: 150px; line-height: 35px; border-radius: 5px; padding:10px;
                                            background: #E6F3F6; width: 450px;}
.registration-form select { border: 1px solid #BFE8EC; height: 35px; line-height: 35px; border-radius: 5px; width: 220px; padding: 0 5px; 
                            -webkit-appearance: none;  /*Removes default chrome and safari style*/
                            -moz-appearance: none;  /*Removes default style Firefox*/
                            background: url("../images/search-sel-arrow.png") no-repeat scroll 195px 3px #E6F3F6; text-indent: 0.01px; text-overflow: "";}

.registration-form .form-item.form-type-checkboxes  { width: 500px;}
.registration-form .form-item .form-type-checkbox { margin: 5px 20px 5px 0; width: 210px; float: left;}
.registration-form .form-item .form-type-checkbox label { color: #00A5B5}

.form-item.form-type-file { width: 500px;}
.form-item.form-type-file .field-prefix { width: 100px; height: 100px; display: block; float: left; background: #e6e7e8; margin-right: 20px;}
.form-item.form-type-file input { margin-top: 70px;}
ul.registration-pager { float: right; margin: 0px;}
ul.registration-pager li  { float: left; list-style: none; background: #FFF; color: #e6e7e8; width: 40px; height: 40px; border-radius: 20px;
                            margin-left: 22px; text-align: center; line-height: 40px; cursor: pointer;}

ul.registration-pager li.active  { background: #00a5b5; color: #FFF;}
.registration-form  input[type='submit'] { display: block; border: 0px; background: #ec8f7a; color: #FFF; padding: 10px 20px;
                                           text-transform: uppercase; border-radius: 5px; float: left; margin-right: 20px; margin-top: 20px; cursor: pointer;}
.registration-form  input[type='submit'].cancel { background: #5d646c;}
.registration-form .description { color: #c2c2c2; clear: both; width: 220px;}
.registration-form input.error{ background-color: #ec8f7a; border-color: #ec8f7a;}
span.error { background-color: #ec8f7a; color: #ffffff; min-width: 200px; position: absolute; z-index: 1000; margin-left: 5px; padding: 5px;
                  border-radius: 5px;}

.registration-form  { position: relative; clear: both; padding-bottom: 50px;}
.registration-steps { position: absolute; left: -290px; width: 220px; height: 42px; top: -57px;
                     background: url('../images/steps.png') no-repeat top left;}
.registration-steps.account { background-position: 0 0;}
.registration-steps.basic { background-position: 0 -49px;}
.registration-steps.detailed { background-position: 0 -93px;}
.registration-steps.success { background-position: 0 -140px;}
.page-bilbaal-register-member .registration-steps.account { background-position: 0 -197px;}
.page-bilbaal-register-member .registration-steps.detailed { background-position: 0 -240px;}

#bilbaal-member-registration-form #edit-account { width: 500px; float: left;}
#bilbaal-member-registration-form .hybridauth-widget-wrapper { border-left: 1px solid #dbdbdb; position: relative; padding: 40px 0 0 40px; float: left;}
#bilbaal-member-registration-form .hybridauth-widget-wrapper:before { background: #ffffff; border-radius: 305px; color: #00a5b5; content: "OR";
          display: block; font-size: 30px; height: 39px; padding-top: 17px; position: absolute; left: -25px; text-align: center; top: 75px; width: 48px;}