body {
  background: #f9f9f9 url(../images/page-bg-1.jpg);
}

/*Begin style top menu*/
#block-menu-menu-top-menu
{
    width: 250px;
    float: left;
}
#block-menu-menu-top-menu ul
{
    list-style-type:none;
}
#block-menu-menu-top-menu li
{
    display:inline-block;
}
/*End style top menu*/
/*Begin style navbar*/
.logo
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar.container
{
    margin-top: 0px;
}
.navbar-header
{
    float: right;
}
.navbar-nav
{
    float: right;
    margin: 0;
}
.navbar-default
{
    margin-bottom: 0px;
    border-bottom-width: 0px;
    margin-top: 0px;
    border-top-width: 0px;
}
/*End style navbar*/
/*Begin style menu*/
ul.secondary
{
    float: left;
}
ul.secondary li
{
    border-left: 0px solid #ccc;
    border-left-width: 0px;
    border-left-style: solid;
    border-left-color: rgb(204, 204, 204);
    border-right: none;
    display: inline;
    padding: 0 1em;
}
#block-system-main-menu ul.menu li
{
    float: right;
}
.front .page-header,
#first-time{display: none;}
.navbar-default
{
    background: none;
    border: none;
}
/*#block-system-main-menu
{
    background-color: #fff;
    border-color: #fefefe;
}
.nav .caret
{
    border-top-color: #636467;
    border-bottom-color: #636467;
}
#block-system-main-menu ul.menu li a
{
    color: #636467;
    border-left: 1px solid;
}
#block-system-main-menu ul.menu li{padding: 0;margin: 0;}
#block-system-main-menu ul.menu li:hover,
#block-system-main-menu ul.menu li.active
{
    background-color: #636467;
}
#block-system-main-menu ul.menu li:hover a,
#block-system-main-menu ul.menu li.active a
{
    color: #fff;
}
#block-system-main-menu ul.menu li a:hover, .nav .open>a:focus
{
    background-color: #636467;
    color: #fff;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
{
    background-color: #636467;
}
.dropdown-menu
{
    background-color: #636467;
}
.dropdown-menu ul.menu li a:hover, .nav .open>a:focus
{
    background-color: #636467;
    color: #fff;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus
{
    background-color: #636467;
    color: #fff;
}
.breadcrumb
{
    background-color:#FFFFFF;
}
.dropdown:hover .dropdown-menu {
    display: block;
}*/
 #block-system-main-menu {
  float: right;
  background: #f8f8f8;
  border-bottom: 1px dotted #a9a9a9;
  border-top: 1px dotted #a9a9a9;
   margin-top: 50px;
  margin-right: 50px;

}
.navbar .nav > li > a { 
	color: #636467;
	font-weight: normal;
	text-shadow: none; 
	text-transform:uppercase; 
	font-size:12px; 
	padding: 10px 15px 10px;
}
#block-system-main-menu ul li.active  a,
#block-system-main-menu .ul li.active  a:hover,
#block-system-main-menu  ul li.active  a:focus {
	color:#FFF; 
	background-color:#d8450b;
     -webkit-box-shadow: none;
       -moz-box-shadow: none;
    box-shadow: none;  
}
#block-system-main-menu ul li:hover a{color: #000; background: none;}
#block-system-main-menu ul li{margin: 0;padding: 0;}
#block-system-main-menu  .nav li.dropdown.open > .dropdown-toggle,
#block-system-main-menu  .nav li.dropdown.active > .dropdown-toggle,
#block-system-main-menu  .nav li.dropdown.open.active > .dropdown-toggle {
  	color:#FFF; 
	background-color:#d8450b;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.dropdown-menu{
	
	font-weight: normal;
	text-transform:uppercase; 
	font-size:10px;
	padding: 0px;
	margin: 0px;
	background-color: #383838;
	border: none;
	*border-right-width: none;
	*border-bottom-width: none;
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	-webkit-background-clip: none;
     -moz-background-clip: none;
          background-clip: none;
}
#block-system-main-menu  .nav > li > .dropdown-menu:before {
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-bottom-color: none;
}
.dropdown-menu li a{
    color: #fff !important; 
	border-bottom:1px solid #474747;
	padding: 10px 10px;
	margin:0px 10px;
}


.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #f9f9f9;
  text-decoration: none;
  background-color: #383838;
  background-image: none;
  filter: none;
}
#block-system-main-menu .nav li.dropdown.open > .dropdown-toggle .caret,
#block-system-main-menu .nav li.dropdown.active > .dropdown-toggle .caret,
#block-system-main-menu  .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
#block-system-main-menu  .nav > li > .dropdown-menu:before,
#block-system-main-menu .nav > li > .dropdown-menu:after {
  display: none;
}
.nav .caret {
  border-top-color:#636467; 
  border-bottom-color: #636467;
}
.nav a:hover .caret {
  border-top-color:#000; 
  border-bottom-color: #000;
}

/*End style menu*/
/*Begin style slider*/
.main-slider .slides ul
{
    padding: 0;
}
#flexslider-1 ul li
{
    list-style: none;
}
.flexslider .slides img
{
    height: 300px !important;
}
.flex-nav-next
{
    display: none;
}
.flex-nav-prev
{
    display: none;
}
.flex-control-nav
{
    bottom: 0px;
    z-index: 1000;
}
#flexslider-1
{
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
}
/*End style slider*/
/*Begin style font*/
@font-face
{
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(https://themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
    url(https://themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.woff) format('woff'),
    url(https://themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.ttf) format('truetype');
}
@font-face
{
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(https://themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
    url(https://themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.woff) format('woff'),
    url(https://themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.ttf) format('truetype');
}
/*End style font*/
/*Begin style webform*/
.webform-client-form-64 .form-control
{
    display:inline-block; width: 35%;
    height: 34px; padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-item
{
    padding-top: 20px;
}
#edit-submitted-email
{
    width: 399px;
}
.form-textarea-wrapper
{
    width: 400px;
    height: 100%;

}
.webform-submit
{
    margin-top: 10px;
}
#edit-submitted-message
{ width: 400px;
    height: 100px;

}
/*End style webform*/
/*Begin style body*/
body
{
    font-family: 'Droid Arabic Kufi' !important;
}
.pull-left
{
    float: right!important;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
    float: right;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float:left;
}
/*End style body*/
/*Begin Style footer*/
.footer
{
    background-color:#636467;
    margin-top: 0px;
    height:200px;

}
/*End Style footer*/
/*Begin style login*/
#edit-name
{
    width: 70%
}
#edit-pass{
    width: 70%

}
/*End STYLE login*/

/*Begin style block office*/
.office-block{float: right;}
.office-block .office-title{text-align: center;}
.office-block .office-image{
  border: 2px solid;
   border-radius: 50%;
}
.office-block .office-image img{
  border-radius: 50%;
  width: 100%;
  height: auto;
}
/*End style block office*/
/*Begin style social-block*/
.social-block
{
    position: fixed;
    right: 0;
    z-index: 10000;
    top:50%;
}
/*End style social-block */
/*Begin style services*/
.front .service-block
{
    border:1px solid  #636467;
    border-radius:10%;
}

/*End  style services*/
